doctype html

include settings.pug
include ../mixins/mixins-loader.pug
block vars

html(
	lang='ru'
	dir='ltr')
	include head.pug
	body(class=`${bodyClass}`)
		+header
		+b.MAIN.main-content
			block content
		+footer
