:root {
	--wrapper-offset: 100rem;
	--wrapper-size: 1240px;

	@include to(992px) {
		--wrapper-offset: 40px;
	}

	@include to(576px) {
		--wrapper-offset: 20px;
	}
}

.wrap {
	padding: 0 var(--wrapper-offset);
	width: 100%;
	max-width: var(--wrapper-size);
	margin: auto;
	position: relative;
}

html {
	font-size: #{div(100, div(1920, 1))}vw;

	@include from(1921px) {
		font-size: 1px;
	}

	@include to(1120px) {
		font-size: #{div(100, div(1120, 0.7))}vw;
	}

	@include to(992px) {
		font-size: 0.7px;
	}

	@include to(576px) {
		font-size: 1px;
	}

	@include to(440px) {
		font-size: #{div(100, div(375, 1))}vw;
	}

	&.js-lock {
		overflow: hidden;
		touch-action: none;
	}
}

body {
	position: relative;
	font-size: 17rem;
	line-height: 1.2;
	color: #000;

	@include to(1440px) {
		font-size: 19rem;
	}

	@include to(576px) {
		font-size: 14rem;
		line-height: 110%;
	}
}

.icon {
	width: 100%;
}

.flex {
	display: flex;
	flex-wrap: wrap;

	&_center {
		justify-content: center;
	}

	&_inline {
		display: inline-flex;
	}

	&_justify {
		justify-content: space-between;
	}

	&_left {
		justify-content: flex-start;
	}

	&_right {
		justify-content: flex-end;
	}

	&_start {
		align-items: flex-start;
	}

	&_bottom {
		align-items: flex-end;
	}

	&_vertical {
		align-items: center;
	}
}

.css-text-left {
	text-align: left;
}

.css-text-center {
	text-align: center;
}

.css-text-right {
	text-align: right;
}

img,
svg {
	vertical-align: top;
	max-width: 100%;
}

.object-fit {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mobile-hidden {
	@include to(576px) {
		display: none !important;
	}
}

.tablet-hidden {
	@include to(992px) {
		display: none !important;
	}
}
